/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-y: scroll; }

html, button, input, select, textarea { font-family: Arial, Verdana, sans-serif; color: #222; }

body { margin: 0; font-size: 0.85em; line-height: 1.5em; }

iframe { border: none; overflow: auto; width: 100%; }

/* =============================================================================
   Links
   ========================================================================== */

a { color: #00a1e4; text-decoration: none; }
a:hover { color: #00a1e4; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #d7d7d7; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #fff; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* table css for TYPO3 standard table */
table.contenttable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  padding: 0;
}
table.contenttable caption {
  color: #4D4D4D;
  background: #fff;
  border: 1px solid #D7D7D7;
  font-size: 120%;
  text-align: left;
  padding: 0.3em 0.4em; 
  display: table-caption;
  text-align: center;
  font-family: 'MainFont', Arial, Verdana, sans-serif;
  border-bottom: 1px solid #00A1E4;
}
table.contenttable td {
  padding: 0.3em 0.5em;
  border: 1px solid #D7D7D7;
}
table.contenttable.contenttable-2 tr.tr-0 td, table.contenttable.contenttable-3 tr.tr-0 td, table.contenttable.contenttable-4 tr td.td-0 {
  color: #4D4D4D;
  background: #fff;
  font-size: 120%;
  padding: 0.3em 0.4em; 
  border: 1px solid #D7D7D7;
  font-family: 'MainFont', Arial, Verdana, sans-serif;
  border-bottom: 1px solid #00A1E4;
}
table.contenttable.contenttable-0 tr.tr-even td, table.contenttable.contenttable-1 tr.tr-even td, table.contenttable.contenttable-2 tr.tr-odd td, table.contenttable.contenttable-3 tr.tr-odd td, table.contenttable.contenttable-4 tr.tr-even td {
  background: #F5F5F5;
}
#page table.contenttable.contenttable-4 tr td.td-0 {
  border: 1px solid #D7D7D7;
  background: #fff; 
  border-right: 1px solid #00A1E4;
}
table.contenttable.contenttable-2 tr.tr-0 td.td-last, table.contenttable.contenttable-3 tr.tr-0 td.td-last, table.contenttable.contenttable-4 tr.tr-0 td.td-last {
  border-right: 1px solid #D7D7D7;
}
table.contenttable.contenttable-1 td.td-1, table.contenttable.contenttable-1 td.td-2, table.contenttable.contenttable-3 td.td-1, table.contenttable.contenttable-3 td.td-2, table.contenttable.contenttable-1 td.td-3 {
  text-align: right; 
}
table.contenttable.contenttable-0 tr.tr-0 td.td-1, table.contenttable.contenttable-0 tr.tr-0 td.td-2, table.contenttable.contenttable-3 tr.tr-0 td.td-1, table.contenttable.contenttable-3 tr.tr-0 td.td-2 {
  text-align: left; 
}
#page table.contenttable.contenttable-5 { margin-bottom: 0.3em; }
#page table.contenttable.contenttable-5 td { background: transparent; border: none; padding: 0 0.8em 0 0; }
#page table.contenttable.contenttable-5 caption { background: transparent; border: none; padding: 0.3em 0; }

table.contenttable.tab7030, table.contenttable.tab3070 {
  table-layout: auto; 
}
table.contenttable.tab7030 tr td.td-0 {
  width: 70%; 
}
table.contenttable.tab7030 tr td.td-1 {
  width: 30%; 
}
table.contenttable.tab3070 tr td.td-0 {
  width: 30%; 
}
table.contenttable.tab3070 tr td.td-1 {
  width: 70%; 
}
table.contenttable.tab2080 tr td.td-0 {
  width: 20%; 
}
table.contenttable.tab2080 tr td.td-1 {
  width: 80%; 
}
table.contenttable.tab1090 tr td.td-0 {
  width: 13%; 
}
table.contenttable.tab1090 tr td.td-1 {
  width: 87%; 
}
table.contenttable.tabauto {
  table-layout: auto;
}
table.contenttable.messetermine {
	width: 800px;
	margin: 0 auto;
}
table.contenttable.messetermine tr td.td-0 {
	font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #00A1E4;
    text-transform: uppercase;
    font-size: 170%;
    line-height: 1.2em;
	width: 30%;
}
table.contenttable.messetermine tr td.td-4 {
	text-align: right;
	width: 15%;
}
table.contenttable.messetermine tr td.td-1,
table.contenttable.messetermine tr td.td-2,
table.contenttable.messetermine tr td.td-3 {
	-webkit-font-smoothing: antialiased;
	font-family: 'MainFont';
	text-transform: uppercase;
	width: 20%;
}
table.contenttable.messetermine tr td.td-3 {
	width: 15%;
}
table.contenttable.messetermine tr td {
	border: none;
	background: transparent !important;
	border-bottom: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
	vertical-align: middle;
	height: 37px;
	padding: 10px;
}
table.contenttable.messetermine tr:hover {
	background: #f5f5f3;
}
.rezepte .contenttable-5 td.td-0 {
	font-weight: bold;
}


@media only screen and (max-width: 1024px) {
	table.contenttable.messetermine { width: 96%; }
}
@media only screen and (max-width: 800px) {
	table.contenttable.messetermine { width: 96%; }
	table.contenttable.messetermine tr td.td-1, table.contenttable.messetermine tr td.td-2 {
		width: 22.5%;
	}
	 table.contenttable.messetermine tr td.td-3, table.contenttable.messetermine tr td.td-4 {
		width: 15%;
	}
	table.contenttable.messetermine tr td.td-0 {
		width: 25%;
	}
}
@media only screen and (max-width: 640px) {
	table.contenttable.messetermine tr td.td-1 , table.contenttable.messetermine tr td.td-2, table.contenttable.messetermine tr td.td-3, table.contenttable.messetermine tr td.td-0, table.contenttable.messetermine tr td.td-4 {
		width: 100%;
		display: block;
		height: auto;
		box-sizing:  border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 0;
		padding: 0 10px;
		text-align: left;
	}
	table.contenttable.messetermine tr td.td-4 {
		padding-bottom: 10px;
	}
	table.contenttable.messetermine tr:last-child td.td-4 {
		border-bottom: 1px solid #D7D7D7;
	}
	table.contenttable.messetermine tr td.td-0 {
		border-top: 1px solid #D7D7D7;
		padding-top: 10px;
	}
}