/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 06.10.2016, 11:31:46
    Author     : Thomas Dettmann
*/

#datacookie {
    font-size: 120%;
    display: block;
    position: fixed;
    bottom: -70px;
    width: 100%;
    z-index: 11150; 
}
#datacookie .topborder {    
    background-color:rgba(0,160,227,0.5);    
    max-width: 100%;    
    padding-top: 10px;
}
#datacookie .cookielement {
    background-color: #00A0E3;
    padding: 5px;
    height: 40px;
    width: 100%;
}
#datacookie .headline {
    color: #fff;
    display: inline-block;
    font-family: "MainFontBold",sans-serif;
    font-size: 100%;
    font-weight: normal;
    text-transform: uppercase;
}

#datacookie .cookietext {
    float: left;
    width: 70%;
    height: 40px;
    margin-top: 13px;
    margin-bottom: -8px;
    margin-left: 20px;
    font-family: "MainFont",Arial,Verdana,sans-serif;
    color: #fff;
    font-size: 120%;
    line-height: normal
}

#datacookie .button {
    text-transform: uppercase;
    font-family: "MainFontBold",sans-serif;
    padding: 6px 15px 9px;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    height: 16px;
}
#datacookie .button.yes {
    color: #fff;
    border: 1px solid #fff;
    
}
#datacookie .button.link {
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 1450px) {
    #datacookie .cookielement {
        height: 80px;
    }
    #datacookie .cookietext {
        padding-top: 10px;
        width: 50%;
        margin-top: 0px;
        font-size: 120%;
        margin-bottom: 0px;
    }
    #datacookie .button {
        font-size: 16px;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 1000px) {
    #datacookie .cookietext {
        width: 98%;
        text-align: center;
        margin-left: 0px;
        height: 60px;
        font-size: 150%;
    }
    #datacookie .headline {
        display: none;
    }
    #datacookie .cookielement {
        height: 150px;
    }
    #datacookie .yes.button {
        float: left;
        margin-left: 20px;
        font-size: 18px;
    }
    #datacookie .link.button {
        margin-right: 20px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 550px) {
    #datacookie .cookietext {
        height: 100px;
    }
    #datacookie .cookielement {
        height: 235px;
    }
    #datacookie .link.button {
        margin-left: 5%;
        width: 80%;
        float: left;
        font-size: 20px;
        text-align: center;
    }
    #datacookie .yes.button {
        margin-left: 5%;
        width: 80%;
        float: left;
        font-size: 20px;
        text-align: center;
    }
    #datacookie .button {
        padding: 5px 15px 7px
    }
}
@media only screen and (max-width: 350px) {
    #datacookie .cookietext {
        height: 112px;
    }
    
    
}

