/**
 * @license
 * MyFonts Webfont Build ID 2730467, 2014-01-22T04:54:03-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Trade Gothic Pro Condensed #18 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-condensed-18/
 * Licensed pageviews: 250,000
 * 
 * Webfont: Trade Gothic Pro Bold Condensed #20 by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/trade-gothic/pro-bold-condensed-20/
 * Licensed pageviews: 500,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2730467
 * Webfonts copyright: Copyright &#x00A9; 2007 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Trade Gothic is either a registered trademark
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/29a9e3");
@font-face {
    font-family: 'MainFont';
    src: url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_0_0.eot');
    src: url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_0_0.eot?#iefix') format('embedded-opentype'),
         url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_0_0.woff') format('woff'),
         url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_0_0.ttf') format('truetype'),
         url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_0_0.svg#MainFont') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MainFontBold';
    src: url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.eot');
    src: url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.eot?#iefix') format('embedded-opentype'),
         url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.woff') format('woff'),
         url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.ttf') format('truetype'),
         url('/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.svg#MainFontBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*******************************************************/
/*                      ALLGMEIN                       */
/*******************************************************/
/* Blockfont */
.blueblockfont {
	background: #00a1e4;
	font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	-webkit-font-smoothing:antialiased;
	line-height: 1.2em;
	font-size: 130%;
	padding: 0 6px;
}
.blackblockfont {
	background: black;
	font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	-webkit-font-smoothing:antialiased;
	line-height: 1.2em;
	font-size: 130%;
	padding: 0 7px;
}
.whiteblockfont {
	margin-top: 10px;
	font-size: 83%;
	line-height: 1.4em;
	font-weight: bold;
}

/* Linkbox */
.linkbox { 
  border-top: 1px solid #eee;
  font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  color: #000;
  line-height: 1.2em;
  font-size: 130%;
}
.linkbox a {
  display: block;
  padding: 12px 25px 10px 10px;
  border-bottom: 1px solid #eee;
  background: url(/fileadmin/templates/Resources/Public/Images/right_arrow.png) no-repeat center right;
}
.linkbox.hidearrows a { background: none; cursor: default; }

/* jobs */
.jobcontainer {
  padding-right: 30%;
}
.jobs-single-title h1 {
  margin: 0;
}
.jobs-single-subheader {
  font-family: 'MainFont';
  -webkit-font-smoothing:antialiased;
  text-transform: none;
  margin-bottom: 2em;
  font-weight: normal;
  color: #00a1e4;
  font-size: 230%;
  line-height: 1.4em;
}
.rezepte .jobs-single-subheader {  font-size: 170%; }
.rezepte .bordertopbottom {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0.6em 0;
  margin-top: 1em;
}
.rezepte .news-single-backlink { border: none; }
.fontbgblack {
  color: white;
  text-transform: uppercase;
  background: black;
  padding: 2px 5px;
  font-family: 'MainFont';
  -webkit-font-smoothing:antialiased;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 1em;
}
.jobs-list-subheader, .jobs-list-title {
  font-family: 'MainFont';
  -webkit-font-smoothing:antialiased;
  text-transform: none;
  font-weight: normal;
  color: #00a1e4;
  font-size: 130%;
  line-height: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.jobs-list-title {
  font-family: 'MainFontBold';
  text-transform: uppercase;
}
.rezepte .jobs-list-title {
  font-size: 170%;
}
.jobs-list-container {
  border-top: 1px solid #eee;
  margin-bottom: 3em;
}
.jobs-latest-container {
  border-top: 1px solid #eee;
}
.jobs-list-morelink { float: right; }
.jobs-list-textwrap {
  border-bottom: 1px solid #eee;
  padding: 12px 10px 10px 10px;
  overflow: hidden;
}
.jobs-list-text {
  float: left;
}
.jobs-list-morelink a { color: #969696; -webkit-font-smoothing:antialiased; font-family: 'MainFont'; text-transform: uppercase; }
.jobs-list-item { overflow: hidden; }
.jobs-list-item:hover { background: #f2f2f2; }

.news-catmenu-header {
  display: none;
}
.news-catmenu {
  border-bottom: 1px solid #eee;
  margin: 0 0 2em 0;
}
.news-catmenu li {
  display: inline;
  list-style-type: none;
  margin-right: 8px;
  list-style-image: none;
  padding-right: 8px; 
}
.news-catmenu li:last-child {
  border: none;
}
.slide-header .slide-navilr { visibility: hidden; }
.news-catmenu li a {
  color: #969696; 
  font-size: 100%; 
  font-weight: normal;
  padding: 2px 5px 24px 5px;
  -webkit-font-smoothing:antialiased;
  font-family: 'MainFont';
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-transform: uppercase;
  margin-bottom: -1px;
  background: url(/fileadmin/templates/Resources/Public/Images/bg_catmenu_no.gif) no-repeat center bottom;
}
.news-catmenu li.act a {
  color: #fff; 
  padding-bottom: 24px;
  background: url(/fileadmin/templates/Resources/Public/Images/bg_catmenu.gif) no-repeat center bottom;
  
}

  .headerbox {
    position: relative;
    overflow: hidden;
  }
  .headerbox-content {
    position: absolute;
    width: 100%;
    display:table;
    height: 100%;
  }
  .textrechts .headerbox-content-inner {
    float: right;
  }
  .headerbox-content-inner {
    width: 50%;
  }
  .splittedheader {
    font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    background: black;
    padding: 0;
    white-space: pre; 
  -webkit-font-smoothing:antialiased;
  }
  h2.headline-green {
  background: #72bf44;
  color: white;
  font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
    text-transform: uppercase;
    padding: 0 0.2em;
    -webkit-font-smoothing:antialiased;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 1.3em;
  }
  h1.headerbox-headline {
  font-size: 3.7em;
  display: block;
  line-height: 1.3em;
  }
  h1.headerbox-headline.firstblue .subhead:first-child {
	background: #00a1e4;
	color: white;
  }
  .splittedheader .subhead {
    padding: 0 0.2em; 

  }
  .headerbox-separator {
    background: black;
    height: 1px;
    width: 20px;
    margin: 1.5em 0;
  }
  .slide-header .headerbox-container {
    position: absolute;
    width: 100%;
  }
  
  
  .headerbox-bodytext {
    line-height: 1.6em;
  }
.headerbox-mobile a { color: black; }
  .headerbox-margins-inner {
    margin: auto;
    width: 962px;
  }
  .headerbox-margins {
    display:table-cell;
    vertical-align:middle;
    *display:inline;
    *position: absolute;
    *top: 2em;
  zoom: 1;
  }
  .headerbox-images img { 
    position: absolute;    
  width: auto;
  max-width: none;
  }
  .headerbox img.mobile { display: none; }
  .contentarea .headerbox, .contentarea .headerbox-images img, .slide-header, .headerarea .headerbox.height400, .headerarea .headerbox.height400 .headerbox-images img { height: 400px; }
  .headerarea .headerbox, .headerarea .headerbox-images img, .headerarea .headerbox.height320 .headerbox-images img, .headerarea .headerbox.height320 { height: 320px; }
  .slide-header .headerbox, .slide-header .headerbox-images img  { height: 400px; }
  .headerarea .headerbox.height250 .headerbox-images img, .headerarea .headerbox.height250 { height: 250px; }
  .linkitem {
    border: 2px solid black;
    padding: 0.4em 1em;
    margin-top: 1em;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .linkitem a {
    font-weight: bold;
    color: black;
  }
  .whiteblue .linkitem a, .linkitem.white a { color: white; }
  .whiteblue .linkitem { border: 2px solid white; background: url(/fileadmin/templates/Resources/Public/Images/bg_linkitem.png) repeat; }
  .linkitem.white { border: 2px solid white;  }
  .whiteblue .headerbox-bodytext { color: white; }
  .whiteblue .headerbox-separator { background: white; }
  .whiteblue .splittedheader { color: #00a1e4; background: white; }
  .whitegreen .splittedheader { background: #72bf44; }
  .buttonbox { background: #f5f5f5; }

  .grey-container .buttonbox { background: white; }
  .buttonbox-imagewrap { position: relative; overflow: hidden; }
  .buttonbox-linkarrow { 
    position: absolute;
    right: 1em;
    bottom: 0.8em;
  }
  .buttonbox .linkitem { 
  height: 25px;
  padding: 0;
  border: none;
  width: 47px;
  background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -10px -51px;
  }
  .buttonbox-linkwrap:hover .linkitem { 
  background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -62px -51px;
   }
  .buttonbox-content { text-align: center; padding: 2em 1.5em; overflow: hidden; }
  .buttonbox.textleft .buttonbox-content { 
	padding: 3em 4em;
	text-align: left;
  }
  .buttonbox.textleft .buttonbox-headline2 {
	font-size: 2.4em;
  }
  .buttonbox-headline1 {
    color: #969696; 
    text-transform: uppercase; 
    font-size: 0.8em;
  }
  .buttonbox-headline2 {
    color: #00a1e4; 
    text-transform: uppercase; 
    font-size: 1.8em;
    line-height: 120%; 
    margin-bottom: 0.5em;
    font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  }
.imageleft .buttonbox-headline2 { margin-bottom: 0.2em; }
  .buttonbox-linktext { color: #222; font-weight: bold;  font-size: 12px;}
  .buttonbox .buttonbox-imagewrap img.hover { 
    display: none;
  }
  .buttonbox .buttonbox-imagewrap img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .buttonbox-bodytext {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -hyphens: auto; 
    hyphens: auto;
    line-height: 1.5em;
  color: #222;
  font-size: 12px;
  }
  .buttonbox.imageleft { margin-bottom: 1.5em; overflow: hidden; background: #f5f5f5; }
  .buttonbox.imageleft .buttonbox-imagewrap { float: left; width: 49%; overflow: hidden; }
  .buttonbox.imageleft .buttonbox-content { float: right; width: 51%; padding: 0; text-align: left; vertical-align: middle; display: table; } 
  .buttonbox.imageleft .buttonbox-content-inner { padding: 2em 3em; display: table-cell;
vertical-align: middle; } 

.buttonbox.bluebg { background: #00a1e4; color: white; }
.buttonbox.bluebg .buttonbox-linktext, .buttonbox.bluebg .buttonbox-bodytext, .buttonbox.bluebg .buttonbox-headline2, .buttonbox.bluebg .buttonbox-headline1 { color: white; }

  .contact-el, .contact-navi a.navi-deu { display: none; }
  .contact-container div.contact-deu { display: block; }
  .contact-navi a {
    font-weight: bold;
    color: #00a1e4;
  }

  .slider-nav { text-align: center; }
  .slider-nav ul { padding: 0.5em 2em; height: 14px; }
  .slider-nav li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 0.3em;
  cursor: pointer;
  }
  .slider-nav li.actnav .boppel {
  width: 8px;
  height: 8px;
  background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -10px -91px;
  }
  .slider-nav li .boppel {
  width: 8px;
  height: 8px;
  background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -29px -91px;
  }
  .slide-header { 
  overflow: hidden;
  position: relative;
  width: 100%;
  }
  .slide-header .headerbox {  
  width: 100%;
   }
   .slide-prev {
    position: absolute;
    width: 38px;
    height: 79px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -10px -159px;
    top: 50%;
    left: 20px;
    cursor: pointer;
    z-index: 100;
  margin-top: -40px;
   }
   .slide-next {
    position: absolute;
    width: 38px;
    height: 79px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -57px -159px;
    top: 50%;
    right: 20px;
    cursor: pointer;
  margin-top: -40px;
    z-index: 100;
   }
   
   .slide-header .headerbox.active { display: block; }
   .headerbox.whiteblue a, .headerbox.whiteblue .headerbox-headlineindividual,
	.headerbox.whiteblue .blackbigbold { color: white; }
   .headerbox.black a { color: #222; }
   .history { text-align: center; }
   .history-table { margin: 0 auto; width: 800px; text-align: left; }
   .history-date {
    font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
    color: #00a1e4;
    text-transform: uppercase;
    font-size: 250%;
    border-top: 1px solid #d7d7d7;
    padding: 0.5em 0.2em;
    width: 15%;
  line-height: 100%;
  }
  .history-info {
    border-top: 1px solid #d7d7d7;
    padding: 1.3em 0.5em;
  }
  .history-spacer {
    width: 15px; 
  }
  .history-info li {
    list-style-image: url(/fileadmin/templates/Resources/Public/Images/history_li.jpg);
    list-style-type: none;
  }
  .history-info ul { padding: 0 0 0 1.5em; }
  
  .imagetextbox { overflow: hidden; }
  .imagetextbox .subheadline.bluemiddle { -webkit-font-smoothing:antialiased; font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif; margin-bottom: 0.7em; display: block; margin-top: -0.7em; }
  .imagetextbox-images { width: 50%;  }
  .imagetextbox .header-separator { margin: 0.7em 0 1.4em 0; }
  .imageleft .imagetextbox-images { float: left; }
  .imageright .imagetextbox-images { float: right; }
  .imagetextbox-text { width: 46%; padding: 1.5em 0; }
  .imageleft .imagetextbox-text { float: right; margin-left: 4%; }
  .imageright .imagetextbox-text { float: left; margin-right: 4%;}
  .imagetextbox .slider-nav li .boppel {
  background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -153px -51px;
  }
  .imagetextbox .slider-nav li.actnav .boppel {
  background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -10px -91px;
  }
  .imagetextbox .slider-nav {
  position: absolute;
  bottom: 0;
  background: transparent;
  }
  .imagetextbox .slider-nav ul {
  padding: 0 2em 2em 2em;
  }
  .imagetextbox .slider-nav li {
  margin: 0 0.6em;
  }
  
  .slideimages { 
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .slideimages img {
    position: absolute;
    display: none;
  }  
  .slider-nav {
    width: 100%;
    background: white;
  }
  .blue-container {
    background: #00a1e4;
    color: white;
    padding: 2em 0;
    margin-bottom: 1.5em;
  }
  .blue-container.container-withshadow {
  -webkit-box-shadow:inset 0 15px 10px -10px #006894;
  box-shadow:inset 0 15px 10px -10px #006894;
  }
  .headerbox-mobile {
  -webkit-box-shadow:inset 0 15px 10px -10px #b5b5b5;
  box-shadow:inset 0 15px 10px -10px #b5b5b5;
  background: #f5f5f5;
  }
  .headerbox-mobiletext-wrap { padding: 2em 0; }
  .blue-container.container-withshadow .col2 .col50 {
  width: 44.5%;
  }
  .blue-container a { color: white; }
  .blue-container h1, .blue-container h2, .blue-container h3, .blue-container h4 { color: white; }
  .blue-container h1 { font-size: 2em; margin-bottom: 0.6em; }
  .blue-container h2 a, .blue-container h2 a:hover { color: #fff; font-weight: normal; }
  .blue-container .header-separator { background: white; margin: 0.8em 0 0 0;}
  .grey-container {
    background: #f5f5f5;
    padding: 2em 0;
    margin-bottom: 1.5em;
  }
  
  .imagetextbox-more { margin-top: 2em; }
  .imagetextbox-more a { 
    padding-right: 25px;
    background: url(/fileadmin/templates/Resources/Public/Images/down_arrow.png) no-repeat center right;
  }
  .imagetextbox-more.up a { 
    background: url(/fileadmin/templates/Resources/Public/Images/up_arrow.png) no-repeat center right;
  }
  
  .blueheaderbar {
    background: #00a1e4;
    color: white;
    padding: 1em;
    margin: 1.5em 0;
    text-align: center;
  }
  .blueheaderbar h1 {
    color: white;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0;
  }
  .blueheaderbar-arrow {
    width: 15px;
    height: 13px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -126px -94px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-bottom: 5px; 
  }
  .blueheaderbar-text {
  display: inline-block;
  zoom: 1;
    *display: inline;
  }
  .blueheaderbar-leftarrow { margin-right: 50px; }
  .blueheaderbar-rightarrow { margin-left: 50px; }
  
  .col6-wrap-inner, .col6 { display: table; table-layout: fixed; width: 100%; }
  
  .col6-slide-next, .col6-slide-prev { visibility: hidden; width: 0; padding: 0; display: table-cell; }
  .col6-1wrap, .col6-2wrap { 
    float: left;
    width: 50%;
  }

  .col6-subcol {
    border-right: 1px solid white;
    display: table-cell;
    padding: 0 1em;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
  }
  .col6-1 { padding-left: 0; }
  .col6-6 { border: none; padding-right: 0; }
  .col6-nav {
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: none;
  }
  .col6-nav ul { margin: 0 auto; }
  .col6-nav li { 
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 0.5em;
    cursor: pointer;
  }
  .col6-nav li.actnav .boppel {
    width: 8px;
    height: 8px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -139px -51px;
  }
  .col6-nav li .boppel {
    width: 8px;
    height: 8px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -125px -51px;
  }
  
  .iconbox-headline {
    font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
    color: #000;
    text-transform: uppercase;
    font-size: 170%;
    line-height: 1.2em;
    margin-bottom: 0.5em;
  }
  .iconbox-bodytext a { color: #222; font-weight: bold; }
  
  /* search */
  .tx-indexedsearch {
    overflow: hidden;
  }
  .tx-indexedsearch-searchbox {
    float: left;
    width: 48%;
  }
  .tx-indexedsearch-rules, .tx-indexedsearch-whatis, .tx-indexedsearch-browsebox, .tx-indexedsearch > .tx-indexedsearch-res {
    float: left;
    width: 100%;
  }
  .tx-indexedsearch-res-wrap {
    border-bottom: 1px solid #eee;
  padding-top: 15px;
  }
  .tx-indexedsearch > .tx-indexedsearch-res {
    margin: 1.5em 0;
  }
  .tx-indexedsearch-searchbox td {
    width: 100%;
    display: inline-block;  
    *display: inline;
  zoom: 1;
  }
  .tx-indexedsearch-searchbox tr {
    border-bottom: 10px solid transparent; 
  }
  .tx-indexedsearch-searchbox-sword {
    border: 1px solid #A6A6A6;
    padding: 2px 3px;
    margin-left: 5px;
  }
  .tx-indexedsearch-searchbox-button {
    color: #fff;
    background: #00a1e4;
    border: none;
    padding: 5px 10px;
    margin: 0;
  }
  .tx-indexedsearch-rules h3 {
    color: #241D1B;
    font-size: 150%;
    font-weight: normal;
    margin-bottom: 12px;
    text-transform: uppercase;
    border: none;
  -webkit-font-smoothing:antialiased;
    font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
  }
  .tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup {
    color: #00a1e4;
  }
  .tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info {
    border-top: 10px solid #fff;
    padding: 5px;
  }
  .tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr {
    font-style: normal;
    padding-top: 5px;
  }
  .tx-indexedsearch-title {
    height: 16px;
    margin-bottom: 2px;
    padding: 0;
  }
  .tx-indexedsearch-title a {
    color: #00a1e4;
    font-weight: normal;
    text-transform: uppercase;
  }
  .tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword, .tx-indexedsearch-searchbox select {
    width: 100%;
    margin: 0 0 1em 0;
  }
  .tx-indexedsearch-searchbox table {
    width: 98%; 
  }
  .tx-indexedsearch-searchbox-wrap {
    background: #f2f2f2;
    overflow: hidden;
    padding: 1.5em 3em; 
  }
  .tx-indexedsearch .tx-indexedsearch-whatis, .tx-indexedsearch-browsebox, .tx-indexedsearch-res {
      margin-top: 1.5em;
  }
  .tx-indexedsearch-rules{
    float: right;
    width: 48%;
  }
  .tx-indexedsearch-pi1 table {
    border-spacing: 0;
  }
  
  /* tt_news Nachrichten */
  .news-list-container { border-top: 1px solid #eee; width: 800px; margin: 0 auto; }
  .news-list-image { width: 30%; float: left; }
  .news-list-textwrap { width: 67%; float: right; }
  .news-list-item { overflow: hidden; padding: 1.5em; border-bottom: 1px solid #eee; }
  .news-list-item:hover { background: #f2f2f2; }
  .news-list-item h1 a { color: #00a1e4; }
  .news-list-item h1 { font-size: 1.8em; line-height: 120%; margin-bottom: 0.5em; }
  .news-latest-morelink a { color: #222; font-weight: bold; }
  .news-list-date { color: #969696; margin-bottom: 0.2em; text-transform: uppercase; font-size: 0.8em; }
  .news-list-browse { overflow: hidden; margin-top: 2em; }
  .news-list-browse .browseLink {
    border: 1px solid #eee;
    padding: 0.3em 0.8em;
    background: #eaeaea;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .news-latest-container.startseite {
	overflow: hidden;
	background: #f5f5f5;
  }
  .news-latest-container.startseite .news-latest-container-inner {
	padding: 2em 1.5em 0 1.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  }
  .news-latest-container.startseite .news-latest-title {
	color: #00a1e4;
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 120%;
    margin-bottom: 0.5em;
    font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .news-latest-container.startseite .news-latest-subheader {
	line-height: 1.5em;
    color: #222;
    font-size: 12px;
  }
  .news-latest-container.startseite .news-latest-item {
	margin-bottom: 2em;
  }
  .browseLinksWrap {
    text-align: center;
    height: 3em;
  }
  .news-list-browse a {
    color: #3c3c3c;
  }
  .news-list-browse .activeLinkWrap {
    background: #00a1e4;
    color: #ffffff;
    border: 1px solid #eee;
  }
  
  .news-single-container { width: 800px; margin: 5em auto 0 auto; overflow: hidden; }
  .news-single-backlink { width: 100%; float: left; }
  .news-single-image { float: right; width: 30%; }
  .news-single-container .news-img-container { margin-bottom: 1em; }
  .news-single-content, .news-single-title { float: left; width: 66%; }
  .news-single-title { margin-right: 33%; }
  .news-single-title h1 { font-size: 3.6em; line-height: 110%; }
  .news-single-backlink { margin-top: 1.5em; border-top: 1px solid #eee; padding-top: 1.5em; }
  
  /* powermail */
  .tx-powermail { overflow: hidden; margin-bottom: 1.5em; }
  .tx-powermail legend, .tx-powermail h3  { display: none; }
  .tx-powermail label { width: 100%; float: left; color: #969696; margin-bottom: 0.5em; }
  .powermail_input, .powermail_textarea  { float: left; width: 90%; margin-bottom: 1em; padding: 5px 3%; border: 1px solid #969696; }
  .powermail_submit { background: #00a1e4; color: white; padding: 5px 3%; border: 1px solid #00a1e4; text-align: center; float: left; width: 96%; -webkit-font-smoothing:antialiased; font-family: 'MainFontBold', Arial Narrow, Arial, sans-serif; text-transform: uppercase; font-size: 130%; }
  
  /* download links */
  .tx-rtgfiles-pi1 {
  border-top: 1px solid #eee;
  margin: 1.5em 0 4em 0;
  }
  .downloadlist-wrap {
  padding: 12px 10px 10px 10px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  cursor: pointer;
  }
  .downloadlist-wrap:hover {
  background: #f2f2f2;
  }
  .downloadlist-title { width: 80%; float: left; }
  .downloadlist-icon { width: 20%; float: right; text-align: right; }

/*******************************************************/
/*                      ACHTUNG                        */
/* media queries bitte immer als letztes stehen lassen */
/*******************************************************/
@media only screen and (min-width: 1600px) {
  .slide-header { width: 1600px; margin: 0 auto; }
}
@media only screen and (max-width: 1280px) {
  

  .slide-header .headerbox-margins-inner { 
    width: 85%; 
  }
  
  
}

@media only screen and (max-width: 1024px) {
  h1.headerbox-headline {
    font-size: 2.8em;
  }
   .headerbox-margins-inner { 
    width: 96%; 
  }
  .col6-subcol { 
    padding: 0 1%;
    width: 31%;
    float: left;
  }
  .col6-1wrap, .col6-2wrap { width: 100%; }
  .col6-3 { border: none; }
  .col6-nav.nav3items { display: block; }
  .col6-slide-prev-arrow {
    width: 38px;
    height: 79px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -10px -159px;
    cursor: pointer;
  }
  .col6-slide-prev {
    zoom: 1;
    *display: inline;
    padding-right: 10px;
    width: 48px;
    vertical-align: middle;
    visibility: visible;
    }
    .col6-slide-next-arrow {
    width: 38px;
    height: 79px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -57px -159px;
    cursor: pointer;
  }
  .col6-slide-next {
    width: 48px;
    zoom: 1;
    *display: inline;
    padding-left: 10px;
    vertical-align: middle;
    visibility: visible;
    }
  
}
@media only screen and (max-width: 962px) {
  .jobcontainer {
    padding-right: 0;
  }
  .slide-prev {
    width: 21px;
    height: 44px;
    left: 10px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -103px -159px;
    margin-top: -22px;
  }
  .slide-next {
    width: 21px;
    height: 44px;
    right: 10px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -130px -159px;
    margin-top: -22px;
  }
  .col6-slide-prev-arrow {
    width: 21px;
    height: 44px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -103px -159px;
  }
  .col6-slide-prev, .col6-slide-next {
    width: 21px;
    }
    .col6-slide-next-arrow {
    width: 21px;
    height: 44px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -130px -159px;
  }
  .news-single-container { margin: 3em auto 0 auto; }
}
@media only screen and (max-width: 900px) {
	.gridcontainer-news .col100 > .col30, .gridcontainer-news .col100 > .col70 {
		width: 100%;
	}
	.gridcontainer-news .col100 > .col30 > .csc-default {
		width: 48.5%;
		float: left;
	}
	.gridcontainer-news .col100 > .col30 > .csc-default:last-child {
		float: right;
	}
	.buttonbox.textleft .buttonbox-content {
		padding: 1.5em 2em;
	}
}

@media only screen and (max-width: 800px) {
  .news-latest-container .news-latest-item, .tx-gkmbreservation-pi2-eventwrap {
    width: 100%;
    margin: 0 0 1em 0;
  }
  .headerbox-content-inner { width: 75%;  }
  .textrechts .headerbox-content-inner { float: left; }
  .headerbox img.mobile { display: block; }
  .headerbox img.notmobile { display: none; }
  .tx-indexedsearch-searchbox, .tx-indexedsearch-rules, .tx-indexedsearch-whatis, .tx-indexedsearch-browsebox, .tx-indexedsearch > .tx-indexedsearch-res {
    width: 100%;
  }
  .news-list-container, .news-single-container, .jobs-list-title, .jobs-list-subheader { width: 100%; }
  .history-table { width: 100%; }
  
  .contentarea .headerbox, .contentarea .headerbox-images img, .slide-header, .headerarea .headerbox.height400, .headerarea .headerbox.height400 .headerbox-images img { height: auto; width: 100%; }
  .headerarea .headerbox, .headerarea .headerbox-images img, .headerarea .headerbox.height320 .headerbox-images img, .headerarea .headerbox.height320 { height: auto; width: 100%; }
  .slide-header .headerbox, .slide-header .headerbox-images img  { height: auto; width: 100%; }
  .headerarea .headerbox.height250 .headerbox-images img, .headerarea .headerbox.height250 { height: auto; width: 100%; }
  
  .buttonbox.textleft .buttonbox-headline2 { font-size: 2.2em; }
}

@media only screen and (max-width: 640px) {
  .blue-container.container-withshadow .col2 .col50 { width: 100%; margin: 0; }
  .buttonbox-bodytext { font-size: 0.9em; line-height: 1.5em; }
  .news-latest-container { margin-bottom: 2em; }
  .slide-header .headerbox-margins-inner { 
    width: 83%; 
  }
  .headerbox-content-inner { width: 100%; }
  .slide-prev {
    left: 5px;
  }
  .slide-next {
    right: 5px;
  }
  h1.headerbox-headline, h2.headline-green {
    font-size: 2em;
  }
  .buttonbox-content-inner { text-align: center; }
  .imagetextbox-text-inner { padding: 0 2%; }
  .imagetextbox-images { width: 100%; }
  .imagetextbox-text { width: 100%; margin-bottom: 2em; }
  .imageleft .imagetextbox-text { margin-left: 0; }
  .imageright .imagetextbox-text { margin-right: 0;}
  .headerbox-headlineindividual.hidemobile { display: none; }
  .headerbox .blackbig { font-size: 130%; }
  .col6-subcol { 
    border: none;
    padding: 0;
    width: 100%;
    display: none;
  }
  .col6-1 { display: block; }
  .col6-nav.nav3items { display: none; }
  .col6-nav.nav1item { display: block; }
  .col6-nav li.actnav .boppel {
    width: 17px;
    height: 17px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -125px -67px;
  }
  .col6-nav li .boppel {
    width: 17px;
    height: 17px;
    background: no-repeat url(/fileadmin/templates/Resources/Public/Images/sprites.png) -148px -67px;
  }
  .iconbox-bodytext, .iconbox .header-separator { display: none; }
  
  .iconbox {
    border-top: 1px solid #969696; 
    padding: 1em;
  }
  .iconbox-inner {
    background: url(/fileadmin/templates/Resources/Public/Images/down_arrow_grey.png) no-repeat right center;
    overflow: hidden;
    padding-right: 40px;
  cursor: pointer;
  }
  .iconbox-inner.up {
    background: url(/fileadmin/templates/Resources/Public/Images/up_arrow_grey.png) no-repeat right center;    
  }
  .iconbox:last-child {
    border-bottom: 1px solid #969696; 
  }
  .iconbox-icon {
    float: left;
    width: 10%; 
  margin: 0 1em 0 0;
  }
  .iconbox-headline {
    float: left;
  width: auto;
  margin: 0;
  font-size: 130%;
  }
  .iconbox-bodytext {
    width: 100%;
    float: left;
  margin-top: 13px;
  }
  .blueheaderbar h1 {
    font-size: 130%; 
  }
  .blue-container h1 { font-size: 150%; }
  .blueheaderbar-arrow {
    margin-bottom: 3px;
  }  
  .blueheaderbar-leftarrow { margin-right: 10px; }
  .blueheaderbar-rightarrow { margin-left: 10px; }
  .blueheaderbar-arrow {
    display: none;
  }  
  .buttonbox.imageleft .buttonbox-imagewrap { width: 100%; }
  .buttonbox.imageleft .buttonbox-content { width: 100%; } 
  
  .news-list-image { display: none; }
  .news-list-textwrap { width: 100%; }
  .news-list-title h1, .news-single-container h1 { font-size: 150%; }
  .news-single-image { width: 100%; }
  .news-single-content, .news-single-title { width: 100%; margin: 0; }
  .news-single-container { margin: 1em auto 0 auto; }
  .powermail_submit { font-size: 110%; }
  .jobs-single-subheader {  font-size: 150%; }
  
  .jobs-list-text, .jobs-list-morelink { width: 100%; float: left; }
  .jobs-list-morelink { margin-top: 5px; }
  
  .linkbox { font-size: 110%; }
  
  .history-spacer { width: 0; }
  .history-date { font-size: 150%; }
  .history-info { padding: 0.7em 0.5em; }
  
  .downloadlist-title { width: 100%; }
  .downloadlist-icon { display: none; }
  
  .gridcontainer-news .col100 > .col30 > .csc-default {
		width: 100%;
	}
	.buttonbox.textleft .buttonbox-headline2 { font-size: 1.8em; }
}

@media only screen and (max-width: 440px) {
  
  .headerbox-separator { margin: 0.8em 0; }
  .slide-header .headerbox-margins-inner { 
    width: 80%; 
  }
  .headerbox-bodytext { font-size: 0.9em; }
  #page table.contenttable.contenttable-5 td { width: 100%; display: inline; }
  #page table.contenttable.contenttable-5 tr { border-bottom: 10px solid transparent; }
}

@media only screen and (max-width: 400px) {
  .headerbox-content-inner .linkitem {
    padding: 0.1em 0.4em; 
  }
  .iconbox-icon {
    width: 18%;    
  }
  h1.headerbox-headline {
    font-size: 1.6em;
  margin-bottom: 0.8em;
  }
}