#tx-opendocs-menu .toolbar-item{padding-left:8px;padding-right:7px}
#tx-opendocs-menu .toolbar-item-active{background-image:url('../../typo3/sysext/opendocs//Resources/Public/Images/toolbar_item_active_bg.png')}
#tx-opendocs-menu input{font-size:9px;height:12px;line-height:12px;width:14px;text-align:right;border:1px solid #999;margin-top:1px;margin-right:3px;padding:1px 2px;float:left}
#tx-opendocs-menu span.t3-icon{}
#tx-opendocs-menu .toolbar-item-menu{position:absolute;list-style:none;padding:2px 0px 0px;margin:0px;background-color:#f9f9f9;border:1px solid #abb2bc;border-top:none;width:200px}
#tx-opendocs-menu .toolbar-item-menu .list{width:100%}
#tx-opendocs-menu .toolbar-item-menu .list th{border-top:1px solid #a5a5a5;border-bottom:1px solid #a5a5a5;background-color:#dbdbdb;text-align:left;font-weight:normal;line-height:16px;padding-left:7px}
#tx-opendocs-menu .toolbar-item-menu .list td{padding:2px 1px;line-height:16px}
#tx-opendocs-menu .toolbar-item-menu .list tr.opendoc.first-row td,#tx-opendocs-menu .toolbar-item-menu .list tr.recentdoc.first-row td{background-image:url('../../typo3/gfx/shortcutgroups-bg.png');background-repeat:repeat-x;padding-top:4px}
#tx-opendocs-menu .toolbar-item-menu .list .opendoc .icon,#tx-opendocs-menu .toolbar-item-menu .list .recentdoc .icon{padding-left:7px;vertical-align:top;width:16px}
#tx-opendocs-menu .toolbar-item-menu .list .opendoc .close{width:20px;text-align:center;vertical-align:top}
#tx-opendocs-menu .toolbar-item-menu .list .opendoc .close span{cursor:pointer}
