@font-face{font-family:'MainFont';src:url('/fileadmin/templates/Resources/Public/Fonts/oswald-light-webfont.eot');src:url('/fileadmin/templates/Resources/Public/Fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),url('/fileadmin/templates/Resources/Public/Fonts/oswald-light-webfont.woff') format('woff'),url('/fileadmin/templates/Resources/Public/Fonts/oswald-light-webfont.ttf') format('truetype'),url('/fileadmin/templates/Resources/Public/Fonts/oswald-light-webfont.svg#MainFont') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'MainFontBold';src:url('/fileadmin/templates/Resources/Public/Fonts/oswald-regular-webfont.eot');src:url('/fileadmin/templates/Resources/Public/Fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),url('/fileadmin/templates/Resources/Public/Fonts/oswald-regular-webfont.woff') format('woff'),url('/fileadmin/templates/Resources/Public/Fonts/oswald-regular-webfont.ttf') format('truetype'),url('/fileadmin/templates/Resources/Public/Fonts/oswald-regular-webfont.svg#MainFontBold') format('svg');font-weight:normal;font-style:normal}
.greybackground{background:#f2f2f2;padding:1em 1.5em}
.bluebig,.bluebig a,a.bluebig,.bluebig link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#00a1e4;line-height:1.2em;letter-spacing:1px}
.bluebig{font-size:230%}
.bluebigbold,.bluebigbold a,a.bluebigbold,.bluebigbold link{font-family:'MainFontBold',Arial Narrow,Arial,sans-serif;color:#00a1e4;line-height:1.2em;letter-spacing:1px}
.bluebigbold{font-size:230%}
.bluemiddle,.bluemiddle a,a.bluemiddle,.bluemiddle link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#00a1e4;line-height:1.2em;letter-spacing:1px}
.bluemiddle{font-size:170%}
.bluemiddlebold,.bluemiddlebold a,a.bluemiddlebold,.bluemiddlebold link{font-family:'MainFontBold',Arial Narrow,Arial,sans-serif;color:#00a1e4;line-height:1.2em;letter-spacing:1px}
.bluemiddlebold{font-size:170%}
.bluesmall,.bluesmall a,a.bluesmall,.bluesmall link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#00a1e4;line-height:1.2em;letter-spacing:1px}
.bluesmall{font-size:110%}
.bluesmallbold,.bluesmallbold a,a.bluesmallbold,.bluesmallbold link{font-family:'MainFontBold',Arial Narrow,Arial,sans-serif;color:#00a1e4;line-height:1.2em;letter-spacing:1px}
.bluesmallbold{font-size:110%}
.bluesmallarial,.bluesmallarial a,a.bluesmallarial,.bluesmallarial link{font-family:Arial,sans-serif;color:#00a1e4;line-height:1.4em}
.bluesmallarial{font-size:100%}
.blackbig,.blackbig a,a.blackbig,.blackbig link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#000;letter-spacing:1px;line-height:1.2em}
.blackbig{font-size:230%}
.blackbigbold,.blackbigbold a,a.blackbigbold,.blackbigbold link{font-family:'MainFontBold',Arial Narrow,Arial,sans-serif;color:#000;letter-spacing:1px;line-height:1.2em}
.blackbigbold{font-size:230%}
.blackmiddle,.blackmiddle a,a.blackmiddle,.blackmiddle link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#000;line-height:1.2em;letter-spacing:1px}
.blackmiddle{font-size:170%}
.blackmiddlebold,.blackmiddlebold a,a.blackmiddlebold,.blackmiddlebold link{font-family:'MainFontBold',Arial Narrow,Arial,sans-serif;color:#000;line-height:1.2em;letter-spacing:1px}
.blackmiddlebold{font-size:170%}
.blacksmall,.blacksmall a,a.blacksmall,.blacksmall link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#000;line-height:1.2em;letter-spacing:1px}
.blacksmall{font-size:110%}
.blacksmallbold,.blacksmallbold a,a.blacksmallbold,.blacksmallbold link{font-family:'MainFontBold',Arial Narrow,Arial,sans-serif;color:#000;line-height:1.2em;letter-spacing:1px}
.blacksmallbold{font-size:110%}
.whitebig,.whitebig a,a.whitebig,.whitebig link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#969696;letter-spacing:1px;line-height:1.2em}
.whitebig{font-size:230%}
.whitebigbold,.whitebigbold a,a.whitebigbold,.whitebigbold link{font-family:'MainFontBold',Arial Narrow,Arial,sans-serif;color:#969696;letter-spacing:1px;line-height:1.2em}
.whitebigbold{font-size:230%}
.whitemiddle,.whitemiddle a,a.whitemiddle,.whitemiddle link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#969696;line-height:1.2em;letter-spacing:1px}
.whitemiddle{font-size:170%}
.whitemiddlebold,.whitemiddlebold a,a.whitemiddlebold,.whitemiddlebold link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#969696;line-height:1.2em;letter-spacing:1px}
.whitemiddlebold{font-size:170%}
.whitesmall,.whitesmall a,a.whitesmall,.whitesmall link{font-family:'MainFont',Arial Narrow,Arial,sans-serif;color:#969696;line-height:1.2em;letter-spacing:1px}
.whitesmall{font-size:110%}
.whitesmallbold,.whitesmallbold a,a.whitesmallbold,.whitesmallbold link{font-family:'MainFontBold',Arial Narrow,Arial,sans-serif;color:#969696;line-height:1.2em;letter-spacing:1px}
.whitesmallbold{font-size:110%}
.fontbluebg{background:#4dbdec;padding:5px 15px;color:white;font-size:14px}
a .fontbluebg,.fontbluebg a,.fontbluebg link,link .fontbluebg{color:white}
a,link{text-decoration:none}
.align-left{text-align:left}
.align-right{text-align:right}
.align-center{text-align:center}
