<f:layout name="default" />
<f:section name="content">  
    <div id="contentwrapleft" class="fleft">
		<f:format.raw>{parentnav}</f:format.raw>
		<f:format.raw>{leftmenu}</f:format.raw>
		<div id="border"><f:format.raw>{border}</f:format.raw></div>
	</div>
	<div id="contentwrapright" class="fright">
		<f:format.raw>{content}</f:format.raw>	
	</div>
</f:section>