<!-- ###SEARCH_FORM### begin -->
<div class="tx-indexedsearch-searchbox-wrap">
	<div class="tx-indexedsearch-searchbox">
	<form action="###ACTION_URL###" method="post" id="tx_indexedsearch">
		<input type="hidden" name="tx_indexedsearch[_sections]" value="0" />
		<input type="hidden" name="tx_indexedsearch[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
		<input type="hidden" name="tx_indexedsearch[pointer]" id="tx_indexedsearch_pointer" value="0" />
		<!-- ###HIDDEN_FIELDS### begin -->
		<input type="hidden" name="###HIDDEN_FIELDNAME###" value="###HIDDEN_VALUE###" />
		<!-- ###HIDDEN_FIELDS### end -->

		<table cellpadding="0" cellspacing="0" border="0" summary="Search form">
			<tr>
				<td>###FORM_SEARCHFOR###</td>
				<td colspan="2"><input type="text" name="tx_indexedsearch[sword]" value="###SWORD_VALUE###" class="tx-indexedsearch-searchbox-sword sword" /></td>
			</tr>

			<!-- ###ADDITONAL_KEYWORD### begin -->
			<tr>
				<td>&nbsp;</td>
				<td colspan="2"><input type="hidden" name="tx_indexedsearch[sword_prev]" value="###SWORD_PREV_VALUE###" /><input type="checkbox" name="tx_indexedsearch[sword_prev_include]" id="tx_indexedsearch_sword_prev_include" value="1" ###SWORD_PREV_INCLUDE_CHECKED### /> <label for="tx_indexedsearch_sword_prev_include">###ADD_TO_CURRENT_SEARCH###</label>.</td>
			</tr>
			<!-- ###ADDITONAL_KEYWORD### end -->

			<!-- ###SEARCH_FORM_EXTENDED### begin -->

			<!-- ###SELECT_SEARCH_FOR### begin -->
			<tr>
				<td>###FORM_MATCH###</td>
				<td>
					<!-- ###SELECT_SEARCH_TYPE### begin -->
					<select name="tx_indexedsearch[type]" class="tx-indexedsearch-selectbox-type type">
						###SELECTBOX_TYPE_VALUES###
					</select>
					<!-- ###SELECT_SEARCH_TYPE### end -->
				</td>
				<td>
					<!-- ###SELECT_SEARCH_DEFOP### begin -->
					<select name="tx_indexedsearch[defOp]" class="tx-indexedsearch-selectbox-defop defop">
						###SELECTBOX_DEFOP_VALUES###
					</select>
					<!-- ###SELECT_SEARCH_DEFOP### end -->
				</td>
			</tr>
			<!-- ###SELECT_SEARCH_FOR### end -->

			<!-- ###SELECT_SEARCH_IN### begin -->
			<tr>
				<td>###FORM_SEARCHIN###</td>
				<td>
					<!-- ###SELECT_SEARCH_MEDIA### begin -->
					<select name="tx_indexedsearch[media]" class="tx-indexedsearch-selectbox-media media">
						###SELECTBOX_MEDIA_VALUES###
					</select>
					<!-- ###SELECT_SEARCH_MEDIA### end -->
				</td>
				<td>
					<!-- ###SELECT_SEARCH_LANG### begin -->
					<select name="tx_indexedsearch[lang]" class="tx-indexedsearch-selectbox-lang lang">
						###SELECTBOX_LANG_VALUES###
					</select>
					<!-- ###SELECT_SEARCH_LANG### end -->
				</td>
			</tr>
			<!-- ###SELECT_SEARCH_IN### end -->

			<!-- ###SELECT_SECTION### begin -->
			<tr>
				<td>###FORM_FROMSECTION###</td>
				<td colspan="2">
					<select name="tx_indexedsearch[sections]" class="tx-indexedsearch-selectbox-sections sections">
						###SELECTBOX_SECTIONS_VALUES###
					</select>
				</td>
			</tr>
			<!-- ###SELECT_SECTION### end -->

			<!-- ###SELECT_FREEINDEXUID### begin -->
			<tr>
				<td valign="top">###FORM_FREEINDEXUID###</td>
				<td colspan="2">
					<select name="tx_indexedsearch[freeIndexUid]" class="tx-indexedsearch-selectbox-freeIndexUid freeIndexUid">
						###SELECTBOX_FREEINDEXUIDS_VALUES###
					</select>
				</td>
			</tr>
			<!-- ###SELECT_FREEINDEXUID### end -->

			<!-- ###SELECT_ORDER### begin -->
			<tr>
				<td valign="top">###FORM_ORDERBY###</td>
				<td colspan="2">
					<select name="tx_indexedsearch[order]" class="tx-indexedsearch-selectbox-order order">
						###SELECTBOX_ORDER_VALUES###
					</select>&nbsp;
					<select name="tx_indexedsearch[desc]" class="tx-indexedsearch-selectbox-desc desc">
						###SELECTBOX_DESC_VALUES###
					</select>
				</td>
			</tr>
			<!-- ###SELECT_ORDER### end -->

			<!-- ###SELECT_RESULTS### begin -->
			<tr>
				<td valign="top">###FORM_ATATIME###</td>
				<td colspan="2">
					<select name="tx_indexedsearch[results]" class="tx-indexedsearch-selectbox-results results">
						###SELECTBOX_RESULTS_VALUES###
					</select>
				</td>
			</tr>
			<!-- ###SELECT_RESULTS### end -->

			<!-- ###SELECT_GROUP### begin -->
			<tr>
				<td valign="top">###FORM_STYLE###</td>
				<td colspan="2">
					<select name="tx_indexedsearch[group]" class="tx-indexedsearch-selectbox-group group">
						###SELECTBOX_GROUP_VALUES###
					</select>&nbsp;&nbsp;

					<!-- ###SELECT_EXTRESUME### begin -->
					<br /><input type="hidden" name="tx_indexedsearch[extResume]" value="0" /><input type="checkbox" value="1" name="tx_indexedsearch[extResume]" id="tx_indexedsearch_extResume" ###EXT_RESUME_CHECKED### /> <label for="tx_indexedsearch_extResume">###FORM_EXTRESUME###</label>
					<!-- ###SELECT_EXTRESUME### end -->
				</td>
			</tr>
			<!-- ###SELECT_GROUP### end -->

			<!-- ###SEARCH_FORM_EXTENDED### end -->
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="tx_indexedsearch[submit_button]" value="###FORM_SUBMIT###" class="tx-indexedsearch-searchbox-button submit" /></td>
			</tr>
		</table>
		<p>###LINKTOOTHERMODE###</p>
	</form>
	</div>
<!-- ###SEARCH_FORM### end -->


<!-- ###RULES### begin -->
	<div class="tx-indexedsearch-rules">
		<h3>###RULES_HEADER###</h3>
		<p>###RULES_TEXT###</p>
	</div>
</div>
<!-- ###RULES### end -->


<!-- ###RESULT_SECTION_LINKS### begin -->
	<div class="tx-indexedsearch-sec">
		<table cellpadding="0" cellspacing="0" border="0" summary="Result links">
			###LINKS###
		</table>
	</div>
<!-- ###RESULT_SECTION_LINKS### end -->

<!-- ###RESULT_SECTION_LINKS_LINK### begin -->
	<tr>
		<td width="100%">--&gt; ###LINK###</td>
	</tr>
<!-- ###RESULT_SECTION_LINKS_LINK### end -->


<!-- ###SECTION_HEADER### begin -->
	<div class="tx-indexedsearch-secHead"><a name="###ANCHOR_URL###"></a>
		<table cellpadding="0" cellspacing="0" border="0" summary="Section header">
			<tr>
				<td class="tx-indexedsearch-title title" width="100%"><h1>###SECTION_TITLE###</h1></td>
				<td class="tx-indexedsearch-result-count result-count" nowrap="nowrap">###RESULT_COUNT### ###RESULT_NAME###</td>
			</tr>
		</table>
	</div>
<!-- ###SECTION_HEADER### end -->


<!-- ###RESULT_OUTPUT### begin -->
	<div class="tx-indexedsearch-res-wrap">
		<table cellpadding="0" cellspacing="0" border="0" summary="Result row">
			<!-- ###HEADER_ROW### begin -->
			<tr>
				<td class="tx-indexedsearch-icon icon" nowrap="nowrap"></td>
				<td class="tx-indexedsearch-result-number result-number" nowrap="nowrap"></td>
				<td class="tx-indexedsearch-title title" width="100%"><h1>###TITLE###</h1></td>
				<td class="tx-indexedsearch-percent percent" nowrap="nowrap">###RATING###</td>
			</tr>
			<!-- ###HEADER_ROW### end -->

			<!-- ###ROW_LONG### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-descr descr" width="100%" colspan="3">###DESCRIPTION###</td>
			</tr>
			
			<!-- ###ROW_LONG### end -->

			<!-- ###ROW_SHORT### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-descr descr" width="100%" colspan="3">###DESCRIPTION###</td>
			</tr>
			<!-- ###ROW_SHORT### end -->

			<!-- ###ROW_SUB### begin -->
			<tr>
				<td>&nbsp;</td>
				<td class="tx-indexedsearch-list list" width="100%" colspan="3"><br />###TEXT_ROW_SUB###<br /><br /></td>
			</tr>
			<!-- ###ROW_SUB### end -->
		</table>
		<br />
	</div>
<!-- ###RESULT_OUTPUT### end -->
