<!-- ###WTGALLERY_LIST### begin -->
    <div class="wtgallery_list_area">
        <!-- ###CONTENT### --><!-- ###ITEM### -->
              <div class="wtgallery_list_image">###IMAGE###</div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
        <div class="clear"></div>
        ###PAGEBROWSER###
    </div>
<!-- ###WTGALLERY_LIST### end -->

    
<!-- ###WTGALLERY_LIST_PAGEBROWSER### begin -->
    <div class="wtgallery_list_pagebrowser_area">
        <p>###CURRENT_MIN### ###WTGALLERY_LL_PAGEBROWSER_UPTO### ###CURRENT_MAX### ###WTGALLERY_LL_PAGEBROWSER_WITHIN### ###OVERALL###</p>
        <p>###PAGELINKS###</p>
    </div>
<!-- ###WTGALLERY_LIST_PAGEBROWSER### end -->
