/*
* Created by Danny Schubert
*/

/*
* 0. Font
* 1. General
* 2. Header
* 3. Container
* 4. Footer
*/

/*
* 0.Font
*/
/*

@font-face {
    font-family: 'TradeGothicBdCn20';
    src: url('https://www.kramski.de/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.eot');

    src: url('https://www.kramski.de/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.otf') format ('opentype'),
		 url('https://www.kramski.de/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.eot?#iefix') format('embedded-opentype'),
         url('https://www.kramski.de/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.woff') format('woff'),
         url('https://www.kramski.de/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.ttf') format('truetype'),
         url('https://www.kramski.de/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.svg#MainFontBold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*
* 0. Font
*/
@font-face {
    font-family: 'TradeGothicBdCn20';
    src: 	url('https://www.kramski.de/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.eot'),
			url('https://www.kramski.de/fileadmin/templates/Resources/Public/Fonts/29A9E3_1_0.ttf'); 
    font-weight: normal;
    font-style: normal;
}
/*
* 1. General
*/

body{
  font-family: 'TradeGothicBdCn20';
}
.col100 {
    width: 100%;
    overflow: hidden;
}
.col50 {
    width: 49%;
}
.col50 .col50 {
    width: 48%;
}
.fleft {
    float: left;
}
.col100 .csc-default {
    margin: 0 0 1.5em 0;
}
.csc-default {
    overflow: hidden;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
.slogansmall{
  font-family: 'TradeGothicBdCn20';
  font-size: 39px;
  line-height: 22px;
  background-color: #000000;
  color: #FFFFFF;
}
.sloganbig{
  font-size: 52px;
  line-height: 63px;
  background-color: #0099CC;
  color: #FFFFFF;
}

/*
* 2. Header
*/

  #header {
    margin-top: 1em;
    width: 1600px;
    margin: 0 auto;
	max-width: 100%;

  }

  #logoheader{
    background: url("../img/logo.png") no-repeat;
    height: 50px;
    margin: 35px 0 30px 0;
  }

  #sloganheader{
    height: 320px;
    background: url("../img/headerbackground.png") no-repeat;
	background-size: cover;
	background-position: right center;
  }

  #sloganheader .container .slogansmall{
    padding: 15px 10px 12px 10px;
    margin: 25px 0 3px 0;
    width: 390px;
  }

  #sloganheader .container .sloganbig{
    width: 260px;
    padding: 0 8px 0 10px;
  }
  .headerbox-separator {
      background: black;
      height: 1px;
      width: 20px;
      margin: 22px 0;
  }
  .listadvantage{
    padding-left: 25px;
  }
  .listadvantage > ul li {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 30px;
  }

  .check1 {
    list-style-image: url("../img/check_1.png");
  }
  .check2 {
  	list-style-image: url("../img/check_2.png");
  }
  .check3 {
  	list-style-image: url("../img/check_3.png");
  }
  .check4 {
  	list-style-image: url("../img/check_4.png");
  }
/*
* 3. Container
*/
#container,
.container{
  width: 968px;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .dispSpace{
    padding-left: 30%;
  }
}
/* Info-Teaser*/
#infoteaser{
  width: 100%;
  margin-top: 60px;
  border-bottom: 1px solid #d7d7d7;
  height: 150px;
}

.slogan{
  width: 33.3%;
  float: left;
}
.smalltext{
  line-height: 27px !important;
}
.text{
  font-family: 'TradeGothicBdCn20';
  font-size: 25px;
  line-height: 57px;
  margin-left: 105px;
  margin-top: 6%;
}

.qualitylogo{
  float: left;
  height: 90px;
  width: 90px;
  background: url("../img/quality.png") no-repeat;
}

.perfectionlogo{
  float: left;
  height: 90px;
  width: 90px;
  background: url("../img/perfection.png") no-repeat;
}

.experiencelogo{
  float: left;
  height: 90px;
  width: 90px;
  background: url("../img/experience.png") no-repeat;
}

#techdata{
  padding-bottom: 60px;
  border-bottom: 1px solid #d7d7d7;
}
.techhead{
  margin-top: 60px;
}
.techhead > .configuratorHead {
    width: 100%;
    float: left;
    margin-bottom: 35px;
    cursor: pointer;
    border-bottom: 1px solid #d7d7d7;
    height: 115px;
}
.techhead > .configuratorHead > .sloganbig{
	float:left;
	font-size: 39px;
    line-height: 42px;
    float: left;
    width: 260px;
    height: 51px;
}

.techhead > .configuratorHead > .sloganbig > a{
	text-decoration: none;
	color: #FFFFFF;
	padding: 4px 9px;
    display: block;
    height: 51px;
}

.techhead > .configuratorHead > .downloadbox{
	float:left;
	margin-top: -4px;
	margin-left: 25px;
	font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
}

.techhead > .slogansmall{
  line-height: 42px;
  width: 194px;
  padding: 6px 8px 7px 9px;
  text-transform: uppercase;
}
.infotext{
  font-family: 'TradeGothicBdCn20';
  font-size: 25px;
  line-height: 21.5px;

}

.sectiontitle{
  font-family: 'TradeGothicBdCn20';
  font-size: 39px;
  line-height: 41.88px;
  margin-top: 50px;
  color: #0099CC;
}

  #techdetail{

  }
  .techinfo{
    height: 355px;
  }
  .detaildraw{
    background: url("../img/detailzeichnung_w.png") no-repeat;
    float: left;
    width: 308px;
    height: 355px;
  }
  .neededinformation{
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    margin-left: 20px;
  }
  .neededinformation > span {
    line-height: 21.5px !important;
    font-weight: bold;
  }

  .neededinformation > ul > li{
    list-style: none;
  }

  .neededinformation > ul > li:before{
    content:"-";
    margin-right: 4px;
  }
  .downloadbox{
    border: 1px solid #00A1E4;
    width: 140px;
    height: 52px;
    margin-top: 140px;
    padding-left: 13px;
    padding-top: 4px;
  }

  .downloadbox > span{
    font-weight: bold;
    float: left;
  }
  .downloadbox > a {
    line-height: 21px;
    float:left;
    text-decoration: none;
    color: #0099CC;
  }
  .techmeasures{
    background: url("../img/technische_daten.png") no-repeat;
    height: 418px;
    margin-top: 32px;
  }

  #configurator{
    margin-top: 60px;
  }

  #configurator .sloganbig{
    font-size: 39px;
    line-height: 42px;
    float: left;
    width: 260px;
    height: 51px;
  }
  #configurator .sloganbig span {
    padding: 4px 9px;
    display: block;
    height: 51px;
}
  .configuratorHead{
    width: 100%;
    float: left;
    cursor: pointer;
  }
  .openConfiguration{
    width: 30px;
    font-weight: bolder;
    float: left;
    height: 51px;
    vertical-align: middle;
    font-size: 15px;
    text-align: center;

    margin-left: 3px;
    cursor: pointer;
  }
  #configBackground{
      background: #F5F5F3;
  }

  #showConfigurator{
	display: block;
  }

  .configuration{
    background-color: #F5F5F3;
    height: 413px;
    float: left;
    width: 100%;
  }

  .configuration .detail{
    background: url("../img/detailzeichnung_g.png") no-repeat;
    height: 354px;
    width: 250px;
    margin-top: 35px;
    margin-left: 35px;
    padding-left: 315px;
    font-family: Arial;
    font-size: 14px;
    line-height: 21px;
  }

  .configuration .detail span{
    font-weight: bold;
  }

  .checkout{
    font-family: 'TradeGothicBdCn20';
    font-size: 21px;
    line-height: 22.59px;
    background: #00A1E4;
    color: #FFFFFF;
    height: 50px;
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
    border: none;
    width: 100%;
  }
  
  .checkout a{
    display: inline-block;
    margin-top: 8%;
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .fixedValue{
    background: #F5F5F3;
  }
  .configuration .detail input[type="text"],
  .configuration .detail input[type="number"] {
    width: 175px;
    height: 25px;
    padding: 10px 10px 8px 10px;
    border: 1px solid #c2c2bf;
  }
  #arrow{

  }
  .arrowUp{
    background: url("../img/arr_up.png") no-repeat;
    height: 14px;
    width: 14px;
    margin: auto;
    margin-top: 60%;
  }

  .arrowDown{
    background: url("../img/arr_down.png") no-repeat;
    height: 14px;
    width: 14px;
    margin: auto;
    margin-top: 60%;
  }

  #orderProcess{
    float: left;
    margin-top: 60px;
    border-top: 1px solid #d7d7d7;
    width: 100%;
  }

  .orderProcessHeader{

  }

  .orderProcessCheckout{

  }

  #total{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 23px;
  }

  #products{
    font-size: 16px;
    line-height: 23px;
  }

  #products a{
    font-size: 14px;
    color: #0099CC;
    text-decoration: none;
  }

  #products .alignRight{
    font-weight: bold;
    padding-left: 45px;
  }
  #total #totalPriceTitle{
    float: left;
    margin-right: 35px;
  }
  #total #totalPrice{
    float: left;
  }
  .checkoutBasket{
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
    width: 350px !important;
    margin-right: 85px;
  }

  .checkoutBasket > h2 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 28px;
    line-height: 29.89px;
  }

  .checkoutForm{
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  .checkoutForm > h2 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 28px;
    line-height: 29.89px;
  }

  .checkoutForm input[type="text"],
  .checkoutForm input[type="email"],
  .checkoutForm input[type="tel"]{
    font-size: 16px;
    height: 45px;
    width: 515px;
    border: 1px solid #9F9F9C;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  #agbCheck{
    display: none;
  }

  .agb{
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000 !important;
  }

  .agb a{
      font-family: Arial, Verdana, sans-serif;
      font-size: 14px;
      line-height: 21px;
      color: #00A1E4 !important;
      text-decoration: none;
  }

  .agbCheckbox{
    margin-top: 25px;
    margin-bottom: 30px;
  }
  #orderText{
    display: none;
  }
  .orderHint{
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    color: #000000 !important;
  }

  .checkoutForm input[type="checkbox"]{
    float: left;
    margin-right: 13px;
    border: 1px solid #B5B5B3;
    box-shadow: none;
  }

  .checkoutForm input[type="submit"]{
    font-family: 'TradeGothicBdCn20';
    font-size: 28px;
    line-height: 41.88px;
    width: 533px;
    height: 55px;
    background: #00A1E4;
    color: #FFFFFF;
    border: none;
  }

  .checkoutForm textarea{
    font-size: 16px;
    width: 521px;
    height: 265px;
  }

  .checkoutForm td div{
    color: #8F9BB4;
    margin-bottom: 15px;
  }

  .orderOverview{
    display: none;
  }
  .orderOverview .sectiontitle {
    font-size: 28px;
    line-height: 29.89px;
  }
  #qualityPromise{
    width: 1280px;
    height: 401px;
    background: url("../img/quality_promise.png") no-repeat;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  #qualityPromise a{
    width: 244px;
    background: transparent;
    height: 33px;
    display: inline-block;
    margin-left: 569px;
    margin-top: 308px;
  }
  .delivery {
    margin-top: 25px;
    color: #0099CC;
  }

/*
* 4. Footer
*/

.footer{
  font-family: Arial;
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}
.footerarea{
  border-top: 1px solid #d7d7d7;
  padding-top: 3em;
  color: #969696;
  font-size: 83%;
  line-height: 2em;
  margin-bottom: 3em;
  overflow: hidden;
  width: 962px;
  margin: 0 auto;
  overflow: hidden;
}
#sitemap{
  width: 64%;
  float: left;
  margin-right: 2em;
}


  .footerarea a, .footerarea .csc-menu li a {
    font-size: 11.28px;
    color: #969696;
    text-decoration: none;
  }
  .footerarea a:hover, .footerarea .csc-menu li a:hover {
    font-size: 11.28px;
    color: #00a1e4;
    text-decoration: none;
  }

  .footerarea a:hover { color: #00a1e4; }
  .footerarea h3 {
    color: #4d4d4d;
    font-size: 12.41px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
  }
  #sitemap { width: 64%; float: left; margin-right: 2em; }
  #contact { float: right; }


  #languagemobile { display: none; }
  #language { float: right; width: 20%; }
  #language a { color: #969696; text-transform: uppercase; }
  #language a:hover { color: #00a1e4; }

/* set nospaceafter */
.nospaceafter .csc-default { margin: 0; }

.col100 .csc-default { margin: 0 0 1.5em 0; }

/* floats and clears */
.fright { float: right; }
.fleft { float: left; }

/* standard width  */
.col100 { width: 100%; overflow: hidden; }
.col70 { width: 65.9%; }
.col30 { width: 32%; }
.col80 { width: 78%; }
.col20 { width: 19%; }
.col50 { width: 49%; }
.col70 .col50 { width: 48.5%; }
.col50 .col50 { width: 48%; }
.inheritcol, .news-catmenu ul, .page_margins_inner .inherit { margin: 0 auto; width: 800px; }

/* standard css */
.csc-default { overflow: hidden; }

/*ul li { list-style-image: url(/fileadmin/templates/Resources/Public/Images/listitem.png); list-style-type: none; }*/
.menu { margin: 0; padding: 0; overflow: hidden; }
.menu li { list-style-type: none; list-style-image: none; background-image: none; padding: 0; }
.csc-menu li, .csc-sitemap li {  list-style-type: none; }
#page .csc-menu a:hover { color: #00a1e4; }
.csc-menu li a, .csc-sitemap li a { color: black; }
.csc-menu { padding: 0; }
.csc-sitemap ul li { line-height: 2em; font-size: 100%; }
.csc-sitemap ul li ul { margin-left: 1.5em; }
#page li.noentry { font-size: 0; margin: 0; padding: 0; line-height: 0; border: none; }
.contact-navi{
  margin-top: 30px;
  margin-bottom: 40px;
}
.contact-navi a {
    font-weight: bold;
    color: #00a1e4;
}

.bodytext{
  font-size: 11.28px;
  line-height: 21px;
}
