<div id="page" role="main">
	<div class="page_margins">
		<nav>
			<div class="page_margins_inner">
				<div class="toplinearea">
					<f:format.raw>{metanav}</f:format.raw>
					<div id="language"><f:format.raw>{language}</f:format.raw></div>
					<div id="languagemobile"><f:format.raw>{languagemobile}</f:format.raw></div>
					<a href="https://www.facebook.com/pages/Kramski-GmbH/160494003969843" target="_blank"><div class="facebook"></div></a>
				</div>
				<div class="topmenuarea">
					<f:format.raw>{logo}</f:format.raw>
					<div class="menuwrap">
						<div id="mobilemenu-button"><f:format.html>{mobilemenubutton}</f:format.html></div>
						<f:format.raw>{mainmenu}</f:format.raw>
						<f:format.raw>{submenu}</f:format.raw>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<div class="showafterload">
		<f:format.raw>{mobilemenu}</f:format.raw>
			<header>
				<div class="headerarea">
					<div id="header">
						<f:format.raw>{header}</f:format.raw>
					</div>
				</div>  
			</header>
		<div id="thirdlevelmenu"><ul class="menu"><f:format.raw>{thirdlevelmenu}</f:format.raw></ul></div>
		<div class="page_margins">
			<div class="contentarea"> 
				<section>
					<div id="contentwrap"><f:render section="content" /></div>
				</section>
			</div>
		</div>
		<div class="page_margins">
			<div class="page_margins_inner">
				<div class="footerarea">          
					<div id="sitemap"><f:format.raw>{sitemap}</f:format.raw></div>
					<div id="contact"><f:format.raw>{contact}</f:format.raw></div>
				</div>
			</div>
		</div>
	</div>
<f:if condition="{sondermeldung}">
<div id="layer">
<div id="sondermeldung">
	<div class="head_closer clearfix"><a href="#" id="closer"><img src="fileadmin/templates/Resources/Public/Images/close.svg" style="border:none; display:block; height:20px; width:20px;" alt="close" /></a></div>
	<div class="wrapper_popup">
		<f:format.raw>{sondermeldung}</f:format.raw>
	</div>
</div>
<script>
    if(document.cookie.indexOf('hideSondermeldung=1') != -1){
		jQuery( '#layer' ).hide(); jQuery( '#sondermeldung' ).hide();
    }
	jQuery( '#closer' ).click(function() {
		document.cookie = 'hideSondermeldung=1;path=/';
		jQuery( '#layer' ).hide(); jQuery( '#sondermeldung' ).hide();
		return false;
	});
</script>
</div> 
</f:if>
<!-- Piwik -->
<script type="text/javascript"> 
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.kramski.de//";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

</script>
<noscript><p><img src="http://stats.kramski.de/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Code -->
<!-- GA -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84783525-1', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');

</script>
<!-- End GA Code -->
